{% extends "base.html" %}

{% block body %}
    <!--    
    <div class="icon-display" onload=displayImgs()>

    {% for n in range(1,80) %}
        <img class="fish" src="{{ url_for('static', filename = 'images/fish/' + n|string() + '.png') }}">
    {% endfor %}

    <br>

    {% for n in range(1,80) %}
        <img class="bugs" src="{{ url_for('static', filename = 'images/bugs/' + n|string() + '.png') }}">
    {% endfor %}

    <br>

    {% for n in range(1,40) %}
        <img class="sea" src="{{ url_for('static', filename = 'images/sea/' + n|string() + '.png') }}">
    {% endfor %}

    </div>
    -->

    {{ availFish }}
    {{ availBugs }}
    {{ availSea }}
{% endblock %}
