{% extends "base.html" %}

{% block body %} 
    <div class="icon-display" onload=displayImgs()>

    {% for fish in availFish %}
        <img class="fish" src="{{ url_for('static', filename = 'images/fish/' + fish|string() + '.png') }}">
    {% endfor %}

    <br>
    
    {% for bug in availBugs %}
        <img class="bugs" src="{{ url_for('static', filename = 'images/bugs/' + bug|string() + '.png') }}">
    {% endfor %}

    <br>

    {% for sea in availSea %}
        <img class="sea" src="{{ url_for('static', filename = 'images/sea/' + sea|string() + '.png') }}">
    {% endfor %}
    
    </div>
{% endblock %}
